#*
*~
*.in
*.la
*.lo
*.o
/pkg/aclocal.m4
/pkg/autom4te.cache/
/pkg/compile
/pkg/config.guess
/pkg/config.h
/pkg/config.log
/pkg/config.rpath
/pkg/config.status
/pkg/config.sub
/pkg/configure
/pkg/depcomp
/pkg/install-sh
/pkg/ipkg-ar71xx/
/pkg/ipkg-install/
/pkg/libtool
/pkg/ltmain.sh
/pkg/missing
/pkg/oe-logs
/pkg/oe-workdir
/pkg/src/CMakeCache.txt
/pkg/src/CMakeFiles
/pkg/src/cmake_install.cmake
/pkg/src/Makefile
/pkg/src/test-af-edge
/pkg/stamp-h1

